# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
Front/node_modules/
Back/node_modules/

Back/uploads/*
Back/cosplay_classifier.h5
cosplay_classifier.h5

# Expo
Front/.expo/
Front/dist/
Front/web-build/
Front/expo-env.d.ts

# Native
Front/*.orig.*
Front/*.jks
Front/*.p8
Front/*.p12
Front/*.key
Front/*.mobileprovision

# Metro
Front/.metro-health-check*

# debug
Front/npm-debug.*
Front/yarn-debug.*
Front/yarn-error.*

# macOS
Front/.DS_Store
Front/*.pem

# local env files
Front/.env*.local

# typescript
Front/*.tsbuildinfo

Front/app-example
