# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

Front/# dependencies
Front/node_modules/

Front/# Expo
Front/.expo/
Front/dist/
Front/web-build/
Front/expo-env.d.ts

Front/# Native
Front/*.orig.*
Front/*.jks
Front/*.p8
Front/*.p12
Front/*.key
Front/*.mobileprovision

Front/# Metro
Front/.metro-health-check*

Front/# debug
Front/npm-debug.*
Front/yarn-debug.*
Front/yarn-error.*

Front/# macOS
Front/.DS_Store
Front/*.pem

Front/# local env files
Front/.env*.local

Front/# typescript
Front/*.tsbuildinfo

Front/app-example
